%label(for="name")Name:
%input#name(type="text" name="spacecat[name]"value="#{@spacecat.name}")

%label(for="home_planet")Home planet:
%input#home_planet(type="text" name="spacecat[home_planet]"value="#{@spacecat.home_planet}")

%label(for="tagline") Tagline:
%input#tagline(type="text" name="spacecat[tagline]"value="#{@spacecat.tagline}")

%label(for="superpower") Superpower:
%input#superpower(type="text" name="spacecat[superpower]"value="#{@spacecat.superpower}")